*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.regis{
    width: 600px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #000000;
    
}
h1{
    display: flex;
    justify-content: center;
    font-size: 26px;
    margin-bottom: 22px;
    margin-top: 20px;
    color: azure;
}
h2{
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 23px;
    color: azure;
}
body{
    background: linear-gradient(135deg, #305d49, #2ea77f);
}
.datos {
    display: flex;
    justify-items: center;
    width: 300px;
    color: #ffffff;
    text-decoration: #070808;
    background: #204a31;
    padding: 10px;
    border: 1px solid #fafbfd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
label{
    color: #ffffff;
    font-size: 20px;
}
.radio{
    margin-left: 16px;
}
.opciones4{
    margin-top: 10px;
}
.opciones{
    margin-top: 2px;
    border-radius: 4px;
    margin-bottom: 16px;
}
.boton{
    display: flex;
    justify-content: center;
    width: 200px;
    color: #ffffff;
    background: linear-gradient(135deg, #2d4e3c, #4b955a);
    padding: 10px;
    border: 1px solid #fafbfd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 250px;
}
select{
    display: flex;
    justify-content: center;
    width: 200px;
    color: #030303;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 15px;
}
